<section id="our-services" class="services-section text-center py-5 px-2">
<div class="main-container">
  <h2 style="width: fit-content;" class="section-title mb-4">
    وتعمل شركة أبو ياسين للمقاولات على تنفيذ المشاريع المطلوبة من خلال تقديم خدماتها الهندسية التالية
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 mb-2" *ngFor="let service of services">
        <app-service-card [service]="service"></app-service-card>
      </div>
    </div>
  </div>
</div>
</section>
