<header style="position: absolute;" class="header-top d-lg-block d-none p-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="info-head d-flex align-items-center">
          <!-- Commented Out Email Section -->
          <!-- <li>
            <a [href]="'mailto:' + contactInfo?.email">
              <fa-icon [icon]="faEnvelope"></fa-icon>
              <span class="mx-2">{{ contactInfo?.email }}</span>
            </a>
          </li> -->
          <li>
            <a [href]="'tel:' + contactInfo?.phone_number">
              <fa-icon [icon]="faPhone"></fa-icon>
              <span class="mx-2">{{ contactInfo?.phone_number }}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <div class="social-head">
          <a *ngIf="socialLinks?.whatsapp" [href]="socialLinks.whatsapp" target="_blank">
            <fa-icon [icon]="faWhatsapp"></fa-icon>
          </a>
          <a *ngIf="socialLinks?.instagram" [href]="socialLinks.instagram" target="_blank">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
          <a *ngIf="socialLinks?.behance" [href]="socialLinks.behance" target="_blank">
            <fa-icon [icon]="faBehance"></fa-icon>
          </a>
          <a *ngIf="socialLinks?.twitter" [href]="socialLinks.twitter" target="_blank">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
          <a *ngIf="socialLinks?.pinterest" [href]="socialLinks.pinterest" target="_blank">
            <fa-icon [icon]="faPinterest"></fa-icon>
          </a>
          <a *ngIf="socialLinks?.tiktok" [href]="socialLinks.tiktok" target="_blank">
            <fa-icon [icon]="faTiktok"></fa-icon>
          </a>
          <a *ngIf="socialLinks?.snapchat" [href]="socialLinks.snapchat" target="_blank">
            <fa-icon [icon]="faSnapchat"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>


<nav [ngClass]="{'collapsed': isNavbarOpen}" class="navbar navbar-expand-lg py-1" id="navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/user/home">
      <img style="max-width: 4rem; border-radius: 1rem;"
            class="logo" src="./../../../assets/images/logo.jpg" alt="logo image"
      >
    </a>
    <button (click)="toggleNavbar()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <fa-icon [icon]="!isNavbarOpen? faBars : faX"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/user"
            routerLinkActive="nav-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            الرئيسية
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/user/projects"
            fragment="our-projects"
            routerLinkActive="nav-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            المشروعات
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/user/services"
            fragment="our-services"
            routerLinkActive="nav-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            الخدمات
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            fragment="about-us"
            routerLink="/user/about-us"
            routerLinkActive="nav-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            من نحن
          </a>
        </li>

        <li class="nav-item">
          <a
            routerLink="/user/home"
            fragment="contact-us"
            class="nav-link"
            routerLinkActive="nav-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
          اتصل بنا
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>


<app-carousel></app-carousel>










