<!-- --------------------- projects section ------------------------------------------------------------------------- -->


<section id="our-projects" class="projects-section text-center py-5 px-5">
  <div class="main-container">
    <h2 style="width: fit-content;" class="section-title title mb-1">
      بعض مشروعاتنا
    </h2>
    <div class="contain my-5">
      <div class="row">
        <div class=" d-flex justify-content-center align-items-center col-sm-12 col-md-6" *ngFor="let project of projects">
          <app-project-card [project]="project"></app-project-card>
        </div>
      </div>
    </div>
    <div class="more">
      <button fragment="our-projects" routerLink="/user/projects" class="btn wobble">مشاريع أخرى</button>
    </div>
  </div>
  </section>







<!-- --------------------- services section ------------------------------------------------------------------------- -->
<section id="our-services" class="services-section text-center py-5 px-2">
  <div class="main-container">
    <h2 class="section-title mb-4 title">
      من خدماتنا
    </h2>
    <div class="container">
      <div class="row">
        <div class=" d-flex justify-content-center align-items-center col-md-12 col-lg-6 mb-2" *ngFor="let service of services">
          <app-service-card style="width: 100%;" [service]="service"></app-service-card>
        </div>
      </div>
    </div>
  </div>
  <div class="more">
    <button routerLink="/user/services" fragment="our-services" class="btn wobble">خدمات أخرى</button>
  </div>
  </section>









<!-- --------------- contact us section ------------------------------------------------------------------------------ -->
<section id="contact-us">
  <div class="contact-section py-5 text-center">
    <p data-aos="fade-right" class="section-title mb-3 title">تواصل معنا</p>
    <h2 data-aos="fade-right" class="section-subtitle mb-4">يسرنا مساعدتك</h2>

    <div class="contain" style="width: 90%; margin-left: auto; margin-right: auto;">
      <div class="row">
        <!-- Address -->
        <div class="col-s-12 col-md-6 col-lg-4 mb-4">
          <div data-aos="fade-left" class="contact-card py-md-5 rounded">
            <fa-icon [icon]="faLocationArrow" class="mb-3"></fa-icon>
            <div class="card-text">
              <h5 class="contact-title mb-2">العنوان</h5>
              <p class="contact-text">
                {{ info?.contact_info?.address || 'العنوان غير متوفر' }}
              </p>
            </div>
          </div>
        </div>

        <!-- Contact Info -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div data-aos="fade-up" class="contact-card py-md-5 rounded">
            <fa-icon [icon]="faEnvelope" class="mb-3"></fa-icon>
            <div class="card-text">
              <h5 class="contact-title mb-2">رقم الهاتف</h5>
              <p class="contact-text">
                <a [href]="'tel:' + info?.contact_info?.phone_number">
                  {{ info?.contact_info?.phone_number || 'غير متوفر' }}
                </a>
              </p>
              <!-- <p class="contact-text">
                <a [href]="'mailto:' + info?.contact_info?.email">
                  {{ info?.contact_info?.email || 'غير متوفر' }}
                </a>
              </p> -->
            </div>
          </div>
        </div>

        <!-- Working Hours -->
        <div class="col-s-12 col-md-6 col-lg-4 mb-4">
          <div data-aos="fade-right" class="contact-card py-md-5 rounded">
            <fa-icon [icon]="faClock" class="mb-3"></fa-icon>
            <div class="card-text">
              <h5 class="contact-title mb-2">أيام العمل</h5>
              <p class="contact-text">
                {{ info?.general_info?.work_hours || 'غير متوفر' }}
              </p>
              <!-- <p class="contact-text">
                {{ 'يوم الإجازة: ' + (info?.general_info?.days_off || 'غير متوفر') }}
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

