
/* -------------------- contact us section --------------------- */

.contact-section {
  background-color: var(--bg-color);
  color: #333333;
}

.section-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.section-subtitle {
  font-size: 3rem;
  font-weight: 600;
}

.contact-card {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 200px;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: rgb(226, 237, 242);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease!important;
  p{
    color: var(--dark-color);
  }
}

.contact-card:hover {
  transform: translateX(5px) translateY(-5px);
  box-shadow: 10px 20px 30px rgba(73, 73, 73, 0.4);
  cursor: pointer;
}
.contact-card .card-text{
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  p{
    text-align: right;
    width: 200px;
  }
}
.contact-title {
  font-size: 1.5rem;
  font-weight: bolder;
}

.contact-text {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0;
}

.section-title, fa-icon{
  color: var(--gold-color);
}
fa-icon{
  font-size: 2.4rem;
  margin: 0 0 1rem 1rem;
}

@media (max-width: 480px) {
  .section-subtitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 1024px) {
  .section-subtitle {
    font-size: 2.8rem;
  }
}

@media (max-width: 640px) {
  .section-subtitle {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .section-subtitle {
    font-size: 2.6rem;
  }
}

@media (max-width: 360px) {
  .section-subtitle {
    font-size: 1.6rem;
  }
}













/* s ------------------ services section --------------------- */
/* Main Container */
.services-section .main-container {
  width: 95%;
  margin: auto;
  padding: 0 1rem;
}

.services-section .main-container{
  width: 100%;
  height: 100%;
}

/* Services Section */
.services-section {
  background-color: var(--dark-color);
  padding: 3rem 0;
}

/* Section Title */
.services-section .section-title {
  color: var(--bg-color);
  width: fit-content;
  margin: 0 auto 4rem;
  /* padding: 1rem 3rem; */
  font-size: 1.8rem;
  text-align: center;
  width: fit-content;
}

.services-section button{
  background-color: transparent;
  color: var(--bg-color);
  padding: 0.7rem 1.1rem;
  border: 2px solid var(--bg-color);
  font-size: 1.3rem;
  margin-top: 3rem;
  transition: 0.6s all ease;
}

.services-section .more{
  padding-bottom: 2rem;
  border-top: 2px solid var(--bg-color);
  width: 50%;
  margin: 0 auto;
}















/* s ------------------ projects section --------------------- */

#our-projects{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: max-content;
  min-height: 100vh;
}
#our-projects .main-container{
  width: 100%;
  height: 100%;
}

/* projects Title */
.projects-section .section-title {
  color: var(--sec-color);
  /* border-bottom: 2px solid var(--bg-color); */
  width: fit-content;
  margin: 0 auto 4rem;
  font-size: 1.8rem; /* Keeping original font size */
  text-align: center;
}





@media (max-width: 1024px) {
  .projects-section .section-title {
    font-size: 1.6rem;
  }
  .projects-section .main-container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
  }
}
@media (max-width: 992px) {
  .projects-section .section-title {
    font-size: 1.4rem;
  }
  .projects-section .main-container{
    width: 90%;
    margin: 0 auto;
  }
  .projects-section .project-card{
    margin: 2rem 0;
  }
}
@media (max-width: 640px) {
  .projects-section .section-title {
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  .projects-section .section-title {
    padding: 0.8rem 2rem;
  }
  .projects-card .projects-description {
    padding: 0.5rem;
  }
}

@media (max-width: 360px) {
  .projects-section .section-title {
    font-size: 1.2rem;
  }
}


/* .projects-section .more{
  padding-bottom: 2rem;
  border-top: 2px solid var(--bg-color);
  width: 50%;
  margin: 0 auto;
} */

.projects-section button{
  background-color: var(--sec-color);
  color: var(--bg-color);
  padding: 0.7rem 1.1rem;
  /* border: 2px solid var(--dark-color); */
  font-size: 1.3rem;
  margin-top: 3rem;
  transition: 0.6s all ease;
}
