.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background: var(--bg-color);
  color: var(--sec-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  z-index: 1000;

  &:hover {
    transform: scale(1.1);
  }
}

.progress-ring {
  position: absolute;
  transform: rotate(-90deg);
}

.progress-ring-bg,
.progress-ring-fill {
  fill: none;
  stroke-width: 4;
  cx: 30;
  cy: 30;
  r: 25;
}

.progress-ring-bg {
  stroke: var(--gol-color);
}

.progress-ring-fill {
  stroke: #0F487D;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.2s ease-in-out;
}

.arrow {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.scroll-to-top:hover{
  transform: rotate(360deg);
}





@media (max-width: 1200px) {
  .scroll-to-top {
    width: 50px;
    height: 50px;
  }

  .progress-ring {
    width: 55px;
    height: 55px;
  }

  .progress-ring-bg,
  .progress-ring-fill {
    cx: 27;
    cy: 27;
    r: 22;
  }

  .arrow {
    font-size: 26px;
  }
}

@media (max-width: 992px) {
  .scroll-to-top {
    width: 45px;
    height: 45px;
    bottom: 15px;
    right: 15px;
  }

  .progress-ring {
    width: 50px;
    height: 50px;
  }

  .progress-ring-bg,
  .progress-ring-fill {
    cx: 25;
    cy: 25;
    r: 20;
    stroke-width: 3;
  }

  .arrow {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .scroll-to-top {
    width: 40px;
    height: 40px;
    bottom: 12px;
    right: 12px;
  }

  .progress-ring {
    width: 45px;
    height: 45px;
  }

  .progress-ring-bg,
  .progress-ring-fill {
    cx: 22;
    cy: 22;
    r: 18;
    stroke-width: 3;
  }

  .arrow {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .scroll-to-top {
    width: 35px;
    height: 35px;
    bottom: 10px;
    right: 10px;
  }

  .progress-ring {
    width: 40px;
    height: 40px;
  }

  .progress-ring-bg,
  .progress-ring-fill {
    cx: 20;
    cy: 20;
    r: 15;
    stroke-width: 2.5;
  }

  .arrow {
    font-size: 20px;
  }
}
