<footer>
  <div class="contain px-4 pt-5 pb-2" data-aos="zoom-in">
    <div class="row">
      <!-- About the Company -->
      <div class="col-md-4 p-0" data-aos="fade-up">
        <h5 class="mt-5 mb-4 me-0 title">روابط التواصل الإجتماعي</h5>
        <!-- <p class="mb-3 about">
          {{ info?.general_info?.about || 'لم يتم توفير معلومات عن الشركة' }}
        </p> -->
        <div class="d-flex gap-2 social-container">
          <!-- WhatsApp -->
          <a class="social-link"
            [href]="'https://wa.me/' + info?.social_links?.whatsapp"
            target="_blank"
            rel="noopener noreferrer">
            <span class="social-icon">
              <fa-icon [icon]="faWhatsapp" aria-hidden="true"></fa-icon>
            </span>
          </a>

          <!-- Instagram -->
          <a class="social-link"
            [href]="info?.social_links?.instagram"
            target="_blank"
            rel="noopener noreferrer">
            <span class="social-icon">
              <fa-icon [icon]="faInstagram" aria-hidden="true"></fa-icon>
            </span>
          </a>

          <!-- TikTok -->
          <a class="social-link"
            [href]="info?.social_links?.tiktok"
            target="_blank"
            rel="noopener noreferrer">
            <span class="social-icon">
              <fa-icon [icon]="faTiktok" aria-hidden="true"></fa-icon>
            </span>
          </a>

          <!-- Snapchat -->
          <a class="social-link"
            [href]="info?.social_links?.snapchat"
            target="_blank"
            rel="noopener noreferrer">
            <span class="social-icon">
              <fa-icon [icon]="faSnapchat" aria-hidden="true"></fa-icon>
            </span>
          </a>
        </div>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4 p-0" data-aos="fade-up">
        <h5 class="mt-5 mb-4 title  me-0">روابط سريعة</h5>
        <ul>
          <li>
            <fa-icon [icon]="faAngleLeft"></fa-icon>
            <a
              routerLink="/user/about-us"
              fragment="about-us">
              من نحن
            </a>
          </li>

          <li>
            <fa-icon [icon]="faAngleLeft"></fa-icon>
            <a
              routerLink="/user/projects"
              fragment="our-projects">
              مشاريعنا
            </a>
          </li>

          <li>
            <fa-icon [icon]="faAngleLeft"></fa-icon>
            <a
              routerLink="/user/services"
              fragment="our-services">
              خدماتنا
            </a>
          </li>

          <li>
            <fa-icon [icon]="faAngleLeft"></fa-icon>
            <a
              routerLink="/user/home#contact-us"
              fragment="contact-us">
              تواصل معنا
            </a>
          </li>
        </ul>
      </div>

      <!-- Contact Us -->
      <div class="col-md-4 p-0" data-aos="fade-up">
        <h5 class="mt-5 mb-4 title  me-0">تواصل معنا</h5>
        <div class="info">
          <fa-icon [icon]="faLocationDot" class="fa-info"></fa-icon>
          <span>{{ info?.contact_info?.address }}</span>
        </div>
        <div class="info">
          <fa-icon [icon]="faPhone" class="fa-info"></fa-icon>
          <span>رقم الهاتف: {{ info?.contact_info?.phone_number }}</span>
        </div>
        <div class="info">
          <fa-icon [icon]="faEnvelope" class="fa-info"></fa-icon>
          <span>البريد الإلكتروني: {{ info?.contact_info?.email }}</span>
        </div>
      </div>
    </div>

    <div class="copyright">
      <small>© جميع الحقوق محفوظة | شركة {{ info?.general_info?.name }} 2025</small>
    </div>
  </div>
</footer>
